[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/FirmJack (jack210481)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/FirmJack (jack210481)
	label-Verified = -1..+1 group user/FirmJack (jack210481)
	push = group user/FirmJack (jack210481)
	read = group user/FirmJack (jack210481)
	rebase = group user/FirmJack (jack210481)
	removeReviewer = group user/FirmJack (jack210481)
	submit = group user/FirmJack (jack210481)
[access "refs/heads/*"]
	create = group user/FirmJack (jack210481)
	push = +force group user/FirmJack (jack210481)
	pushMerge = group user/FirmJack (jack210481)
	read = group user/FirmJack (jack210481)
[access "refs/tags/*"]
	push = group user/FirmJack (jack210481)
	push = +force group user/FirmJack (jack210481)
